<h2>このサイトを使う前に</h2>
<ul>
<li>法律・条例・公序良俗に反する画像があった場合連絡してください。削除します</li>
<li>2chに書き込まれた画像がみれます</li>
<li>一覧の下から順に削除されます。☆をつけると上にきます。</li>
<li>エロやグロに負けない心</li>
<li>月極広告主様募集。コチラまでご連絡お願い致します。gioext@gmail.com</li>
</ul>
