<% content_for :keywords, @board[:title].strip %>
<% content_for :description, @board[:title].strip %>
<% content_for :title, @board[:title].strip %>
<h2><%= @board[:title] %></h2>
<div>このスレッドは削除されました。別スレッドをお楽しみください。</div>
<div><a href="/">2ch画像まとめTOP</a></div>
