<% for b in @parts_board_list_boards %>
<a href="/thread/<%= b[:id] %>"><%= b[:title] %></a>
<% unless b[:star].zero? %><span id="star"><img src="/images/star.gif"/><%= b[:star] %></span><% end %><br />
<% end %>
